
input {
  margin: 5px 5px;
  display: inline-block;
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 7px 7px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
}

input[name="origin"], input[type="submit"], input[name="maxfare"],
input[name="fullName"], input[name="email"], input[name="password"] {
  width: 100%;
}

input[type="submit"], button[type='button'] {
    height: 60px;
    border: none;
}

input[name="returndate"], input[name="departuredate"] {
  width: 40%;
}

*:focus {
  outline: 0;
}


@mixin style() {
  color: black;
  opacity: 1;
  line-height: 1.7em;
  padding: 0 0 0 10px;
  font-size: 0.7em;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
    @include style;
}

:-moz-placeholder { /* Firefox 18- */
  @include style;
}

::-moz-placeholder {  /* Firefox 19+ */
   @include style;
}

:-ms-input-placeholder {
   @include style;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
