main.bg {
  background: url('/images/5.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

main {
  padding: 1%;
  section.input-form {
    position: relative;
    width: 49.6%;
    height: 332px;
    border-radius: 10px 10px;
    padding: 27px 27px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    z-index: 1;
  }
}

.log section.input-form {
  margin-top: 11%;
}

.error {
  position: absolute;
  z-index: 100;
  background: white;
}

.register {
  padding: 10px;
  text-align: left;
  color: white;
  a {
    color: white;
    font-weight: bold;
    &:hover {
      color: $blue;
    }
  }
}

 article.list {
   position: relative;
   width: 50%;
   border-radius: 10px 10px;
   padding: 27px 27px;
   background: rgba(255, 255, 255, 0.8);
   td {
     vertical-align: middle;
   }
   .button {
    display: inline-block;
    float: right;
    margin: 5px 0;
    text-align: center;
    padding-top: 5px;
   }
 }


article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  .title {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    td {
      padding-bottom: 20px;
    }
  }
  table {
     width: 100%;
     td {
       width: 25%;
       height: 18%;
       padding-left: 3%;
       padding-top: 0.3%;
       padding-bottom: 0.3%;
     }
     tr:nth-of-type(2n) {
       background: $grey;
     }
   }
   button[type="button"], .button {
     border-radius: 5px;
     margin-left: -18%;
     height: 30px;
     width: 50%;
     font-size: 1em;
     background: $grey;
     &:hover {
       background: #000;
       color: $blue;
     }
     &.saved {
       background: $blue;
       &:hover {
         color: #000;
       }
     }
   }
}
div.instagram {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
}
 article.city-list {
   margin-top: 7%;
   border-radius: 15px;
   background: rgba(255, 255, 255, 0.8);
   padding: 50px;
    form {
      display: inline-block;
    }
    a.insta {
      display: inline-block;
      margin-left: -3%;
    }
}
