body {
  font-family: 'flamabook';
}


a {
  padding: 10px;
  text-decoration: none;
  color: black;
  &:hover {
    color: $blue;
  }
}

header a, header p {
  font-family: 'flama_ultracondensedbook';
  letter-spacing: 0.04em;
  font-size: 1.5em;
  color: $blue;
}

input {
  font-size: 1.2em;
  font-family: 'flamabook';
}
