<!DOCTYPE html>
<html ng-app="myTravel">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <header>
      {{#if user}}
      <p>
        Hello {{user.displayName}}
        |
        <a href="/logout">Logout</a>
      </p>
    {{else}}
      <p>
        <a href="/auth/login">Log In</a>
        |
        <a href="/auth/twitter">Login with twitter</a>
      </p>
    {{/if}}
    </header>
    {{{body}}}
    <div ng-view></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
    <script src='https://code.angularjs.org/1.4.0/angular-resource.min.js'></script>
    <script src='https://code.angularjs.org/1.4.0/angular-route.min.js'></script>
<!--     // <script src='https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-resource.js'></script>
// <script src='https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js'></script> -->
    <script src='/javascripts/app.js'></script>
    <script src='/javascripts/date.js'></script>
  </body>
</html>
