<main class="bg">
  <article class='city-list'>
    <table>
      <tr class="title">
        <td>
          my bucket list
        </td>
      </tr>
      {{#each list}}
          <tr>
            <td>
              {{this}}
            </td>
          </tr>
      {{/each}}
   </table>
  </article>
</main>
