<main class='bg'>
  <article class='list'>
    <table>
      <tr class='title'>
        <td>
          my bucket list
        </td>
      </tr>
      {{#each list}}
        <tr>
          <td>
            {{this}}
          </td>
          <td>
            <a class="button" href='/delete/{{this}}'>Remove</a>
          </td>
        </tr>
      {{/each}}
   </table>
  </article>
</main>
