/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  overflow: scroll; }

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0; }

.cb-slideshow:after {
  content: '';
  background: transparent url("/images/pattern.png") repeat top left; }

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s; }

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s; }

.cb-slideshow li:nth-child(1) span {
  background-image: url(../images/1.jpg); }

.cb-slideshow li:nth-child(2) span {
  background-image: url(../images/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) span {
  background-image: url(../images/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) span {
  background-image: url(../images/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) span {
  background-image: url(../images/5.jpg);
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) span {
  background-image: url(../images/6.jpg);
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

.cb-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.cb-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.cb-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; }

.cb-slideshow li:nth-child(5) div {
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; }

.cb-slideshow li:nth-child(6) div {
  -webkit-animation-delay: 30s;
  -moz-animation-delay: 30s;
  -o-animation-delay: 30s;
  -ms-animation-delay: 30s;
  animation-delay: 30s; }

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/* Animation for the title */
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-moz-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-o-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes titleAnimation {
  0% {
    opacity: 0; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1; }
  19% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1; }

/* 
@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
} */
@font-face {
  font-family: 'flama_ultracondensedbook';
  src: url("/fonts/Flama/flamaultracondensed-book-webfont.eot");
  src: url("/fonts/Flama/flamaultracondensed-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Flama/flamaultracondensed-book-webfont.woff2") format("woff2"), url("/fonts/Flama/flamaultracondensed-book-webfont.woff") format("woff"), url("/fonts/Flama/flamaultracondensed-book-webfont.ttf") format("truetype"), url("/fonts/Flama/flamaultracondensed-book-webfont.svg#flama_ultracondensedbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'flamabook';
  src: url("/fonts/Flama/flama-book-webfont.eot");
  src: url("/fonts/Flama/flama-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/Flama/flama-book-webfont.woff2") format("woff2"), url("/fonts/Flama/flama-book-webfont.woff") format("woff"), url("/fonts/Flama/flama-book-webfont.ttf") format("truetype"), url("/fonts/Flama/flama-book-webfont.svg#flamabook") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'flamabook'; }

button {
  font-family: 'flamabook'; }

a {
  padding: 10px;
  text-decoration: none;
  color: black; }
  a:hover {
    color: #4affff; }

header a, header p {
  font-family: 'flama_ultracondensedbook';
  letter-spacing: 0.04em;
  font-size: 1.5em;
  color: #4affff; }

header .hide, header .visible {
  font-size: 1em; }

input {
  font-size: 1.2em;
  font-family: 'flamabook'; }

header {
  position: relative;
  height: 100px;
  text-align: right;
  padding: 20px 30px;
  z-index: 1; }
  header .awesome {
    display: inline-block;
    width: 2.5%;
    font-size: 0.7em;
    font-weight: bold;
    color: white; }
  header .awesome .fa-chevron-left {
    color: #4affff; }
  header .hide, header .visible {
    position: absolute;
    width: 10%;
    top: 65%;
    right: 16.3%;
    border-top: 1px dotted white;
    padding-right: 0px;
    color: white; }
  header .visible {
    visibility: visible; }
  header .hide {
    visibility: hidden; }

main.bg {
  background: url("/images/5.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0; }

main {
  padding: 1%; }
  main section.input-form {
    position: relative;
    width: 49.6%;
    height: 332px;
    border-radius: 10px 10px;
    padding: 27px 27px;
    background: rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    z-index: 1; }

.log section.input-form {
  margin-top: 11%; }

.error {
  padding: 10px;
  text-align: left;
  color: red;
  text-transform: uppercase;
  font-weight: bold; }

.register {
  padding: 10px;
  text-align: left;
  color: white; }
  .register a {
    color: white;
    font-weight: bold; }
    .register a:hover {
      color: #4affff; }

article.list {
  position: relative;
  width: 50%;
  border-radius: 10px 10px;
  padding: 27px 27px;
  background: rgba(255, 255, 255, 0.8); }
  article.list td {
    vertical-align: middle; }
  article.list .button {
    display: inline-block;
    float: right;
    margin: 5px 0;
    text-align: center;
    padding-top: 5px; }

article {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%; }
  article .title {
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold; }
    article .title td {
      padding-bottom: 20px; }
  article table {
    width: 100%; }
    article table td {
      width: 25%;
      height: 18%;
      padding-left: 3%;
      padding-top: 0.3%;
      padding-bottom: 0.3%; }
    article table tr:nth-of-type(2n) {
      background: rgba(180, 180, 180, 0.5); }
  article button[type="button"], article .button {
    border-radius: 5px;
    margin-left: -18%;
    height: 30px;
    width: 50%;
    font-size: 1em;
    background: rgba(180, 180, 180, 0.5); }
    article button[type="button"]:hover, article .button:hover {
      background: #000;
      color: #4affff; }
    article button[type="button"].saved, article .button.saved {
      background: #4affff; }
      article button[type="button"].saved:hover, article .button.saved:hover {
        color: #000; }

section.instagram {
  margin-top: 7%;
  width: 100%;
  margin-left: 3.5%; }

article.city-list {
  margin-top: 7%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.8);
  padding: 50px; }
  article.city-list form {
    display: inline-block; }
  article.city-list a.insta {
    display: inline-block;
    margin-left: -3%; }

input {
  margin: 5px 5px;
  display: inline-block;
  height: 60px;
  width: 300px;
  border: none;
  border-radius: 7px 7px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8); }

input[name="origin"], input[type="submit"], input[name="maxfare"],
input[name="fullName"], input[name="email"], input[name="password"] {
  width: 100%; }

input[type="submit"], button[type='button'] {
  height: 60px;
  border: none; }

input[name="returndate"], input[name="departuredate"] {
  width: 40%; }

*:focus {
  outline: 0; }

::-webkit-input-placeholder {
  color: black;
  opacity: 1;
  line-height: 1.7em;
  padding: 0 0 0 10px;
  font-size: 0.7em;
  text-transform: uppercase; }

:-moz-placeholder {
  /* Firefox 18- */
  color: black;
  opacity: 1;
  line-height: 1.7em;
  padding: 0 0 0 10px;
  font-size: 0.7em;
  text-transform: uppercase; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  opacity: 1;
  line-height: 1.7em;
  padding: 0 0 0 10px;
  font-size: 0.7em;
  text-transform: uppercase; }

:-ms-input-placeholder {
  color: black;
  opacity: 1;
  line-height: 1.7em;
  padding: 0 0 0 10px;
  font-size: 0.7em;
  text-transform: uppercase; }

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0; }

input[type='submit'] {
  background: #4affff; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .input-form {
    width: 90%;
    height: 50%; } }
